<section id="about" class="container-fluid">
    <div class="content">
        <div class="layout-medium">
            <h1 class="page-title greentext p-b-m">about me</h1>
            <div class="row">
                    <p class="col-sm-6 pull-left">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut blanditiis commodi cupiditate
                        distinctio esse excepturi facilis fuga, in natus neque quibusdam reiciendis unde. Nesciunt
                        placeat quaerat, quam quidem sit voluptatum?
                    </p>
                    <div class="col-lg-2 pull-left">
                        <img src="images/raghuveer.jpg" alt="">
                    </div>

            </div>
        </div>
    </div>
</section>
<!-- PAGE : ABOUT -->