<section id="about" class="container-fluid">
    <div class="content">
        <div class="layout-medium t-a-j">
            <h1 class="page-title greentext p-b-m">about me</h1>
            <div class="row">
                <div class="col-sm-8 t-a-j p-b-xl">
                    <p>
                        Thanks for spending sometime to know me. Although I have given a small introduction about myself on front page, I will again give a small background about myself here. I am a Software Engineer by profession, which brings food to my table and ideas in my head. My life has been a good roller coaster journey so far. I have spent my growing years in India and currently spending my slogging years in US. Coming to USA for my masters is what changed me. I never knew my true potential until the exposure I got in US, both while studying and working. Because of it, I have the pleasure of working at some of the prestigious companies like eBay, PayPal, SAP Ariba and Apple.
                    </p>
                    <p>
                        On a personal side, I am a complete foodie and spends most of my time (and money) in thinking about what to eat and what to drink. :) you know, a typical 'Punjabi'. I love to cook Indian dishes but I have not yet experimented with other cuisine. One day I want to grow beyond ramen cup noodles when it comes to non Indian food. Lately I have developed my interest in Scotch Whisky. My dream is to go to Scotland for whisky tasting tours like I have done in Napa. One day...
                    </p>
                    <p>
                        I live my life to the fullest in the ways that makes me happy. My friends always count on me as their trusted buddy who will always be there for them, no matter what. They say that my best motivation is helping friends, which I also agree to as well. I may appear very serious types at first, but once you know me, you will realize that I am 'seriously fun' to hang out with.
                    </p>
                    <p>
                        On travelling side, I have visited more places in US as compared to places in India. My wish is to visit at least one city in all US states. So far, I have covered 16 states in US. I do not want to restrict myself to US and India only. I want to explore more countries in the world. My taste in music varies based on my mood. I mostly prefer songs with more emphasis on music vs on lyrics. Thats why I prefer trance music and OST background scores of movies/tv series. However, when it comes to normal songs, I prefer Bollywood music and pop songs. Early albums of Enigma and background scores from Hans Zimmer are usually in my playlist along with the contemprory bollywood numbers.
                    </p>
                    <p>Some highlights about myself below..</p>
                    <div class="col-sm-11">
                        <div class="section-title center">
                            <h2>
                                <i>Personal Random Things</i>
                            </h2>
                        </div>
                        <div>
                            <li>Big fan of Game of Thrones TV Series. My only regret is I am not into reading else I would have read the books</li>
                            <li>Waiting for my Euro Trip... Not the movie version though :)</li>
                            <li>Would love to attend a live music show from Hans Zimmer, Yanni or Enigma.</li>
                            <li>Plan to visit at least 10 different countries before I turn 40.</li>
                            <li>Given a chance, I would prefer to become a part time chef in a
                                <strong class="greentext">desi dhabha style</strong> restaurant
                            </li>
                            <li>Love to drive and travel. In fact, my friends keep counter of my car miles more than what I do. Ha Ha Ha !</li>
                        </div>
                    </div>
                    <div class="col-sm-11">
                        <div class="section-title center">
                            <h2>
                                <i>Professional Summary</i>
                            </h2>
                        </div>
                        <div class="p-b-xxl">
                            <li>Software Developer with in-depth Perl, JavaScript, JQuery, HTML, CSS, Ajax, REST and Scripting skills</li>
                            <li>Extensive experience in Release Engineering domain including Continuous Integration and Deployment</li>
                            <li>Quickly learns and adapts to team’s dynamics to become a constructive member</li>
                            <li>Ability to rapidly prototype and implement solutions while gathering appropriate details</li>
                            <li>Willingness to research and utilize newer technologies to manage project effectively</li>
                            <li>Dynamic leader who functions well in multi geographic and multi culture team</li>
                            <li>Detail oriented, hard working professional who believes in thinking outside the box and leading by example</li>
                            <li>Self-motivated and self-reliant individual who takes initiatives to improve and enhance solutions whenever necessary</li>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 p-b-xxl">
                    <div class="section-title center">
                        <h2>
                            <i>TESTIMONIALS</i>
                        </h2>
                    </div>
                    <!-- section-title -->
                    <!-- Testimonial -->
                    <div class="testimonial" ng-if="checked[0]">
                        <img class="center" src="images/shanoj.jpg" alt="Shanoj Subramanian">
                        <h4>Shanoj Subramanian</h4>
                        <h5>Manager, Software Development at PayPal</h5>
                        <p>Raghuveer is one of the most enthusiastic person in our team. He's full of energy and cheers up the team and an excellent team player. Release Engineering is one of the teams where one will have to attend top priority issues at
                            any time. Raghuveer takes up challenges and ensures that the issue is resolved with utmost care and dedication. His thought process have helped the day to day activities a lot, especially coming up with new ideas and rethinking
                            the existing processes.
                        </p>
                        <p>
                            Another remarkable thing is his proficiency in Perl scripting. His out of the box thinking for getting things done in a timely fashion is admirable. I strongly recommend Raghuveer for any team that values team work & new ideas.
                        </p>
                    </div>
                    <!-- Testimonial -->
                    <!-- Testimonial -->
                    <div class="testimonial" ng-if="checked[1]">
                        <img class="center" src="images/arul.jpg" alt="Arul Francis">
                        <h4>Arul Jegadish Francis</h4>
                        <h5>Manager, Release Control at Ariba</h5>
                        <p>Raghuveer helped the Ariba Engineering Services/Release Control team to implement a stable CI pipeline. He is hard working, detail oriented and likes to keep all tools/processes simple and clean. He has a deep understanding of
                            various tools in the CI pipeline. He is passionate about UI technologies as well. He will be a valuable asset to any engineering team.
                        </p>
                    </div>
                    <!-- Testimonial -->
                    <!-- Testimonial -->
                    <div class="testimonial" ng-if="checked[11]">
                        <img class="center" src="images/no-pic.png" alt="John Rudden">
                        <h4>John Rudden</h4>
                        <h5>Manager at Apple</h5>
                        <p>Raghuveer worked to establish the DevOps discipline for for an internal tracking application used throughout the company. Under Raghuveer’s leadership a team was created, trained and and assumed operations quickly and efficiently.
                            He always has a concept of how to get to the right solution and drives what is possible with existing resources towards the right solution. Raghuveer has built excellent relationships across a number of teams and can be relied upon
                            to represent, understand, and approve the operational impacts of external changes for the application he manages.
                        </p>
                    </div>
                    <!-- Testimonial -->
                    <!-- Testimonial -->
                    <div class="testimonial" ng-if="checked[2]">
                        <img class="center" src="images/tanvi.jpg" alt="Tanvi Shah">
                        <h4>Tanvi Shah</h4>
                        <h5>Senior Software Engineer, Ariba</h5>
                        <p>Raghuveer is a diligent performer along with being responsive and efficient at the same time. I have interacted with his team on a cross team basis, mostly as an internal customer, and have found him to be really good at communicating
                            problem solution efficiently from both his and my team's perspective. He does not hesitate to go beyond the scope of immediate requests to suggest better ways of handling things. As an engineer, I value his skills and knowledge
                            at investigating the issues at hand, coming up with a solution and collaborating with other teams in executing it. He does not restrict himself to his team's code base, but is also constantly willing to explore new technologies.
                            This blend of skills makes him a valuable, high performing asset for any team.
                        </p>
                    </div>
                    <div class="testimonial" ng-if="checked[3]">
                        <img class="center" src="images/chris.jpg" alt="Chris Hunt">
                        <h4>Chris Hunt</h4>
                        <h5>Software Engineer, William Sonoma</h5>
                        <p>In my experience, the ability to maintain focus on details that matter is not always found along side the traits of 'calm and happy". Raghuveer is that increasingly rare individual that has this combination and also knows what
                            he is talking about. He will cope well with the ambiguity in your project and likely will discern the real pressure points early in the game. He is not going to need a lot of direction as he does it. I doubt he will be available
                            very often or for very long. If his is you should investigate his capabilities before your competitor does.
                        </p>
                    </div>
                    <div class="testimonial" ng-if="checked[4]">
                        <img class="center" src="images/dhirendra.jpg" alt="Dhirendra Sinha">
                        <h4>Dhirendra Sinha</h4>
                        <h5>Principal Software Engineer at Y! Mail</h5>
                        <p>Raghuveer is very sincere, dedicated and hardworking software engineer. At Captora, being in a startup phase, the requirements are dynamic and changing at times. He adjusted to it and picked up the pace and delivered great quality
                            software. Raghuveer is very knowledgeable in his domain and applies sensible and creative approaches to solve problems. He is very personable and fun to hang around with.I wish him all the best for his future career!
                        </p>
                    </div>
                    <div class="testimonial" ng-if="checked[5]">
                        <img class="center" src="images/tho.jpg" alt="Tho Truong">
                        <h4>Tho Truong</h4>
                        <h5>Software Configuration Management at PayPal</h5>
                        <p>Regretfully don't have the chance to work with Raguveer on the same project to pickup some his skills, but I have seen his extraordinary work he did for FrontEnd metric dashboard. He implemented in very short period time using
                            a combination of PHP,HTML, JavaScript, and JSON, and it looks amazing like commercial app. Great job! Definitely will work with Raghuveer again.
                        </p>
                    </div>
                    <div class="testimonial" ng-if="checked[6]">
                        <img class="center" src="images/kiran.jpg" alt="Kiran Bhumana">
                        <h4>Kiran Bhumana</h4>
                        <h5>Senior Technical Manager at Ariba</h5>
                        <p>Raghuveer is very diligent at his tasks. Many a times I had interactions with Raghuveer regarding the release tools and I am quite impressed with his depth and knowledge within a short time at Ariba. He is easy to work with and
                            goes out of the way to solve issues at hand.
                        </p>
                    </div>
                    <div class="testimonial" ng-if="checked[7]">
                        <img class="center" src="images/jeslie.jpg" alt="Jeslie Chermak">
                        <h4>Jeslie Chermak</h4>
                        <h5>Senior Member Technical Staff at MosaixSoft, Inc.</h5>
                        <p>Raghuveer is always willing to go the extra mile to help, even when the questions posed are not immediately within his expertise. He will spend the time to assist and quickly determine what needs to be done or who the appropriate
                            person with the relevant knowledge is. His attitude makes my job easier and me more productive and effective.
                        </p>
                    </div>
                    <div class="testimonial" ng-if="checked[8]">
                        <img class="center" src="images/no-pic.png" alt="Charleston Thai">
                        <h4>Charleston Thai</h4>
                        <h5>Maps Release Management, Apple</h5>
                        <p>Raghuveer is a technically strong engineer with emphasis on tools development. He possesses good technology vision and is constantly providing great suggestions to his team. Raghuveer is both a terrific team player and is a great
                            mentor to his peers. He has great and positive attitude toward tackling challenging projects. He is a definitely an asset to any engineering organization and I would hire him again.
                        </p>
                    </div>
                    <div class="testimonial" ng-if="checked[9]">
                        <img class="center" src="images/no-pic.png" alt="Ravi Arepally">
                        <h4>Ravi Arepally</h4>
                        <h5>Senior Manager, Yahoo!</h5>
                        <p>Raghuveer worked in my team and I found him to be competent, dedicated and hard working professional. He is very reliable and highly accountable for his work. During his tenure at Ariba, he wrote various tools and came up with
                            good ideas for new ones. He worked very well with on-site and off-shore team members. I am sure Raghu will be an asset for any organization.
                        </p>
                    </div>
                    <div class="testimonial" ng-if="checked[10]">
                        <img class="center" src="images/no-pic.png" alt="Jou Chou">
                        <h4>Joe Chou</h4>
                        <h5>Release Management, eBay</h5>
                        <p>Raghuveer is a hard-working and detail-oriented release engineer. When I manage a site release, I can count on him to provide up-to-date status regarding builds and deployments. When there are issues, Raghuveer has always followed
                            through on the issues or ensured a clean hand-off to the release engineers in Chennai, India. It is a great pleasure working with him.
                        </p>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- PAGE : ABOUT -->
