<section id="blog" class="container-fluid">
    <div class="content">
        <div class="layout-medium">
            <h1 class="page-title greentext p-b-m">blogs</h1>
            <div class="col-sm-9">
                <div class="row">
                    <script type="text/ng-template" id="blogs-template.html">
                        <div class="toggle-group">
                            <div class="toggle">
                                <h3 ng-click="toggleOpen()">
                                    <i class="greentext fa fa-fw" ng-class="{'fa-plus' : !isOpen, 'fa-minus': isOpen}"></i>
                                    <a href tabindex="0" class="accordion-toggle" uib-accordion-transclude="heading">
                                    <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
                                        {{heading}}
                                    </span>
                                    </a>
                                </h3>
                            </div>
                            
                            <div uib-collapse="!isOpen" ng-transclude class="toggle-content"></div>
                        </div>
                    </script>
                    
                    <uib-accordion close-others="oneAtATime">
                        <div uib-accordion-group class="panel-default" heading={{blog.title}} template-url="blogs-template.html" ng-repeat="blog in blogs">
                            {{blog.content}}
                            
                            <span class="pull-right">
                            
                            <a ng-href="http://www.facebook.com/sharer.php?u={{blogsBaseURL | escape }}/{{blog.keyword}}" target="_blank" class="facebook p-r-m">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a ng-href="https://twitter.com/home?status={{blog.title}} {{blogsBaseURL| escape }}/{{blog.keyword}}" target="_blank" class="p-r-m">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{blogsBaseURL | escape }}/{{blog.keyword}}&amp;title={{blog.title}}&amp;&summary={{blog.content}}" target="_blank" class="p-r-m">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <a href="mailto:?Subject={{blog.keyword}}&amp;Body={{blogsBaseURL | escape }}/{{blog.keyword}}" class="p-r-m">
                                <i class="fa fa-envelope"></i>
                            </a>
                            <a ng-href="#/blog/{{blog.keyword}}" class="button small p-l-m">
                                <i class="fa fa-external-link fa-fw"></i>Read More
                            </a>
                            
                        </span>
                        </div>
                    </uib-accordion>
                </div>
            </div>
            <div class="col-sm-3">
                
            </div>
        </div>
    </div>
</section>
