<section id="blog" class="container-fluid">
    <div class="content">
        <div class="layout-medium">
            <h1 class="page-title greentext p-b-m">blogs</h1>
            <div class="row">
                <div class="col-sm-4 blogs">
                    
                    <div class=" hovereffect">
                        
                            <h3>This is the heading</h3>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A blanditiis deleniti explicabo
                                natus officiis porro quaerat reiciendis suscipit, tenetur veritatis. Architecto corporis
                                excepturi expedita magni nemo nisi placeat totam voluptates!
                            
                        
                        <div class="overlay">
                            <a class="info" href="#">Read More</a>
                        </div>
                    
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="blogs"></div>
                </div>
                <div class="col-sm-4">
                    <div class="blogs"></div>
                </div>
            
            </div>
        </div>
    </div>
</section>
<!-- PAGE : ABOUT -->
