<section id="contact" class="container-fluid">
    <div class="content">
        <div class="layout-medium">
            <h1 class="page-title greentext p-b-m">contact me</h1>
            <div class="row">
                <div class="col-sm-6">
                    <ng-map center="37.405173, -121.931284 " zoom="15" map-type-id="SATELLITE">
                        <marker position="37.405173, -121.931284" title="This is where I live." animation="Animation.DROP"></marker>
                    </ng-map>
                </div>

                <div class="social">
                    <ul class="social">
                        <li><a class="facebook" href="https://www.facebook.com/raghuveer" target="_blank"><i class="fa fa-facebook fa-fw"></i></a></li>
                        <li><a class="twitter" href="https://twitter.com/raghuuveer" target="_blank"><i class="fa fa-twitter fa-fw"></i></a></li>
                        <li><a class="linkedin" href="https://www.linkedin.com/in/raghuveerp" target="_blank"><i class="fa fa-linkedin fa-fw"></i></a></li>
                        <li><a class="google-plus" href="https://plus.google.com/u/0/+RaghuveerPhull" target="_blank"><i class="fa fa-google-plus fa-fw"></i></a></li>
                        <li><a class="stack-overflow" href="https://stackoverflow.com/users/792479/raghuveer" target="_blank"><i class="fa fa-stack-overflow fa-fw"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- PAGE : ABOUT -->