<section id="resume" class="container-fluid">
    <div class="content">
        <!-- .layout-medium -->
        <div class="layout-medium">
            <!-- page-title -->
            <h1 class="page-title greentext p-b-m">resume</h1>
            <!-- page-title -->
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-sm-8">
                    <div class="event">
                        <h2>Work History</h2>
                        <p><i class="fa fa-briefcase"></i></p>
                    </div>
                    <div class="event">
                        <h3>Apple Inc.</h3>
                        <h4>Sr. Software Engineer</h4>
                        <h5>June 2015 - Current</h5>
                        <div class="p-t-l">
                            <li>
                                Training and leading a team of 5 members situated in different geographic locations
                                and time zones
                            </li>
                            <li>
                                Developing GIT flow based modern Continuous Integration and Deployment framework for
                                Apple’s internal teams
                            </li>
                            <li>
                                Quickly learned & adapted team’s functioning and dynamics to become a constructive
                                member
                            </li>
                            <li>
                                Planned and managed successful migration of hardware infrastructure with no
                                downtime
                            </li>
                            <li>
                                Achieved 2x increase in productivity of team by automating manual and repetitive
                                tasks
                            </li>
                            <li>
                                Introduced new processes and streamlined existing ones for production deployment to
                                reduce downtime by 65%
                            </li>

                        </div>
                    </div>
                    <div class="event">
                        <h3>Captora Inc.</h3>
                        <h4>Front End Developer</h4>
                        <h5>Feb 2015 - May 2015</h5>
                        <div class="p-t-l">
                            <li>Enhanced marketing automation application written in AngularJS, Node.JS and JQuery on
                                Amazon EC2 platform</li>
                            <li>Developed autonomous pluggable scripts for dynamically populating data based on reverse
                                geo-location lookup</li>
                            <li>Implemented support for various data source types for successful integration with
                                Marketo’s automation platform</li>
                        </div>

                    </div>
                    <div class="event">
                        <h3>Ariba Inc</h3>
                        <h4>Software Engineer/Tools Developer</h4>
                        <h5>March 2008 – August 2009, April 2011 – June 2012 and October 2012 – February 2015</h5>
                        <div class="p-t-l">
                            <li>
                                Developed approval and status dashboard for production build and deployment using
                                Node.JS, Bootstrap and AngularJS
                            </li>
                            <li>
                                Redesigned architecture for internal web tools to reduce page render time by 95% using
                                JavaScript, JQuery and JSON
                            </li>
                            <li>
                                Improved build creation time from 3 hours to 20 minutes for a home grown build system
                                written in Perl and Make
                            </li>
                            <li>
                                Achieved high availability (99.99% uptime) of Perforce Server by implementing offline
                                check pointing, using Perl, to eliminate 10-hour weekly downtime to zero
                            </li>
                        </div>
                    </div>
                    <div class="event">
                        <h3>PayPal Inc</h3>
                        <h4>Software Engineer</h4>
                        <h5>June 2012 – September 2012</h5>
                        <div class="p-t-l">
                            <li>
                                Designed and implemented Environment availability metrics dashboard using HTML5,
                                JavaScript, JQuery and AJAX
                            </li>
                            <li>
                                Consumed JSON data from various REST APIs to plot graphs using D3.js and High Charts
                                JavaScript libraries
                            </li>
                            <li>
                                Implemented AJAX calls for creating a responsive and interactive JQuery based UI
                            </li>
                        </div>
                    </div>
                    <div class="event">
                        <h3>William Sonoma Inc</h3>
                        <h4>Contractor</h4>
                        <h5>March 2011 – April 2011</h5>
                        <div class="p-t-l">
                            <li>Developed Perl based automation script enabling auto kick off of maven builds on code
                                check ins
                            </li>
                            <li>
                                Integrated build system with existing dashboard using RESTful web services
                            </li>
                        </div>
                    </div>
                    <div class="event">
                        <h3>eBay Inc</h3>
                        <h4>Release Engineer</h4>
                        <h5>February 2010 – February 2011</h5>
                        <div class="p-t-l">
                            <li>
                                Migrated legacy check-in and bugs information tools written in Perl into Java based eBox
                                architecture (eBay specific)
                            </li>
                            <li>
                                Ensured successful build deployments on Production and troubleshooting for any build
                                issue
                            </li>
                        </div>
                    </div>
                    <div class="event">
                        <h2>Education</h2>
                        <p><i class="fa fa-graduation-cap fa-fw"></i></p>
                    </div>
                    <div class="event">
                        <h3>San Jose State University</h3>
                        <h4>MS, Software Engineering</h4>
                        <h5>2007 - 2008</h5>
                        <p>I earned my Master Degree in Software Engineering with focus on enterprise applications while
                            studying here. During masters, I have taken major courses like
                        </p>
                        <li>Enterprise Distributed Objects</li>
                        <li>Enterprise Software Components</li>
                        <li>Software System Engineering</li>
                        <li>Software Test Automation</li>
                        <li>Software Engineering Management</li>

                    </div>
                    <div class="event">
                        <h3>Shri. G. S. Institute of Technology and Science</h3>
                        <h4>BE, Computer Engineering</h4>
                        <h5>2002 - 2006</h5>
                        <p>I received Bachelor of Engineering in Computer Engineering here. I gained the core
                            knowledge about computer science and engineering while studying here. Some of the fundamental
                            subjects I studied here includes:
                        </p>
                        <li>Analysis and Design of Algorithms</li>
                        <li>Database Management Systems</li>
                        <li>Data structures and Programming</li>
                        <li>Object Oriented Analysis, Design and Programming</li>
                        <li>Introduction to Compilers</li>
                    </div>
                    <p class="p-b-xxl">
                        <a href="//raghuveer.us/resources/Raghuveer.Resume.pdf" download="Raghuveer.Resume.pdf" class="button">
                            <i class="fa fa-download fa-fw"></i>Download Resume</a></p>
                </div>
                <!-- col -->
                <!-- col -->
                <div class="col-sm-4">
                    <!-- section-title -->
                    <div class="col-sm-11">
                        <div class="section-title center">
                            <h2><i>technical skills</i></h2>
                        </div>
                        <!-- section-title -->
                        <!-- .skill-unit -->
                        <div class="skill-unit">
                            <h4>Perl</h4>
                            <div class="bar" data-percent="80">
                                <div class="progress"></div>
                            </div>
                        </div>
                        <!-- .skill-unit -->
                        <!-- .skill-unit -->
                        <div class="skill-unit">
                            <h4>JavaScript</h4>
                            <div class="bar" data-percent="70">
                                <div class="progress"></div>
                            </div>
                        </div>
                        <!-- .skill-unit -->
                        <!-- .skill-unit -->
                        <div class="skill-unit">
                            <h4>Java</h4>
                            <div class="bar" data-percent="50">
                                <div class="progress"></div>
                            </div>
                        </div>
                        <!-- .skill-unit -->
                        <!-- .skill-unit -->
                        <div class="skill-unit">
                            <h4>Angular JS</h4>
                            <div class="bar" data-percent="60">
                                <div class="progress"></div>
                            </div>
                        </div>
                        <!-- .skill-unit -->
                        <!-- .skill-unit -->
                        <div class="skill-unit">
                            <h4>Node.js</h4>
                            <div class="bar" data-percent="65">
                                <div class="progress"></div>
                            </div>
                        </div>
                        <!-- .skill-unit -->
                        <!-- section-title -->
                        <div class="section-title center">
                            <h2><i>conceptual skills</i></h2>
                        </div>
                        <!-- section-title -->
                        <!-- .skill-unit -->
                        <div class="skill-unit">
                            <h4>Object Oriented Programming</h4>
                            <div class="bar" data-percent="80">
                                <div class="progress"></div>
                            </div>
                        </div>
                        <!-- .skill-unit -->
                        <!-- .skill-unit -->
                        <div class="skill-unit">
                            <h4>Release Engineering</h4>
                            <div class="bar" data-percent="75">
                                <div class="progress"></div>
                            </div>
                        </div>
                        <!-- .skill-unit -->
                        <!-- .skill-unit -->
                        <div class="skill-unit">
                            <h4>Continuous Integration & Deployment</h4>
                            <div class="bar" data-percent="80">
                                <div class="progress"></div>
                            </div>
                        </div>

                        <!-- .skill-unit -->
                        <div class="skill-unit">
                            <h4>Design Patterns</h4>
                            <div class="bar" data-percent="50">
                                <div class="progress"></div>
                            </div>
                        </div>
                        <!-- .skill-unit -->
                    </div>
                    <!-- .skill-unit -->
                    <!-- section-title -->
                        <!-- Testimonial -->
                    </div>
                </div>
                <!-- col -->
            </div>
            <!-- row -->
        </div>
        <!-- .layout-medium -->
    </div>
</section>