<section id="resume" class="container-fluid">
    <div class="content">
        <!-- .layout-medium -->
        <div class="layout-medium">
            <!-- page-title -->
            <h1 class="page-title greentext p-b-m">resume</h1>
            <!-- page-title -->
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-sm-8">
                    <div class="event">
                        <h2>Work History</h2>
                        <p><i class="fa fa-briefcase"></i></p>
                    </div>
                    <div class="event">
                        <h3>Apple Inc.</h3>
                        <h4>Sr. Software Engineer</h4>
                        <h5>June 2015 - Current</h5>
                        <div class="p-t-l">
                            <li>
                                Training and leading a team of 5 members situated in different geographic locations
                                and time zones
                            </li>
                            <li>
                                Developing GIT flow based modern Continuous Integration and Deployment framework for
                                Apple’s internal teams
                            </li>
                            <li>
                                Quickly learned & adapted team’s functioning and dynamics to become a constructive
                                member
                            </li>
                            <li>
                                Planned and managed successful migration of hardware infrastructure with no
                                downtime
                            </li>
                            <li>
                                Achieved 2x increase in productivity of team by automating manual and repetitive
                                tasks
                            </li>
                            <li>
                                Introduced new processes and streamlined existing ones for production deployment to
                                reduce downtime by 65%
                            </li>

                        </div>
                    </div>
                    <div class="event">
                        <h3>Captora Inc.</h3>
                        <h4>Front End Developer</h4>
                        <h5>Feb 2015 - May 2015</h5>
                        <div class="p-t-l">
                            <li>Enhanced marketing automation application written in AngularJS, Node.JS and JQuery on
                                Amazon EC2 platform</li>
                            <li>Developed autonomous pluggable scripts for dynamically populating data based on reverse
                                geo-location lookup</li>
                            <li>Implemented support for various data source types for successful integration with
                                Marketo’s automation platform</li>
                        </div>

                    </div>
                    <div class="event">
                        <h3>Ariba Inc</h3>
                        <h4>Software Engineer/Tools Developer</h4>
                        <h5>March 2008 – August 2009, April 2011 – June 2012 and October 2012 – February 2015</h5>
                        <div class="p-t-l">
                            <li>
                                Developed approval and status dashboard for production build and deployment using
                                Node.JS, Bootstrap and AngularJS
                            </li>
                            <li>
                                Redesigned architecture for internal web tools to reduce page render time by 95% using
                                JavaScript, JQuery and JSON
                            </li>
                            <li>
                                Improved build creation time from 3 hours to 20 minutes for a home grown build system
                                written in Perl and Make
                            </li>
                            <li>
                                Achieved high availability (99.99% uptime) of Perforce Server by implementing offline
                                check pointing, using Perl, to eliminate 10-hour weekly downtime to zero
                            </li>
                        </div>
                    </div>
                    <div class="event">
                        <h3>PayPal Inc</h3>
                        <h4>Software Engineer</h4>
                        <h5>June 2012 – September 2012</h5>
                        <div class="p-t-l">
                            <li>
                                Designed and implemented Environment availability metrics dashboard using HTML5,
                                JavaScript, JQuery and AJAX
                            </li>
                            <li>
                                Consumed JSON data from various REST APIs to plot graphs using D3.js and High Charts
                                JavaScript libraries
                            </li>
                            <li>
                                Implemented AJAX calls for creating a responsive and interactive JQuery based UI
                            </li>
                        </div>
                    </div>
                    <div class="event">
                        <h3>William Sonoma Inc</h3>
                        <h4>Contractor</h4>
                        <h5>March 2011 – April 2011</h5>
                        <div class="p-t-l">
                            <li>Developed Perl based automation script enabling auto kick off of maven builds on code
                                check ins
                            </li>
                            <li>
                                Integrated build system with existing dashboard using RESTful web services
                            </li>
                        </div>
                    </div>
                    <div class="event">
                        <h3>eBay Inc</h3>
                        <h4>Release Engineer</h4>
                        <h5>February 2010 – February 2011</h5>
                        <div class="p-t-l">
                            <li>
                                Migrated legacy check-in and bugs information tools written in Perl into Java based eBox
                                architecture (eBay specific)
                            </li>
                            <li>
                                Ensured successful build deployments on Production and troubleshooting for any build
                                issue
                            </li>
                        </div>
                    </div>
                    <div class="event">
                        <h2>Education</h2>
                        <p><i class="fa fa-graduation-cap fa-fw"></i></p>
                    </div>
                    <div class="event">
                        <h3>San Jose State University</h3>
                        <h4>MS, Software Engineering</h4>
                        <h5>2007 - 2008</h5>
                        <p>I got my Master Degree at San Jose State University. I create usable web interfaces,
                            front
                            end coding stuff and almost anything. But i love what i do.
                        </p>
                    </div>
                    <div class="event">
                        <h3>Shri. G. S. Institute of Technology and Science</h3>
                        <h4>BE, Computer Engineering</h4>
                        <h5>2002 - 2006</h5>
                        <p>I studied Computer Science at MIT. I create usable web interfaces, front end coding
                            stuff and almost anything. But i love what i do.
                        </p>
                    </div>
                    <p class="p-b-xxl">
                        <a href="../resources/Raghuveer.Resume.pdf" download="Raghuveer.Resume.pdf" class="button"><i class="fa fa-download fa-fw"></i>Download
                            Resume</a></p>
                </div>
                <!-- col -->
                <!-- col -->
                <div class="col-sm-4">
                    <!-- section-title -->
                    <div class="col-sm-11">
                        <div class="section-title center">
                            <h2><i>technical skills</i></h2>
                        </div>
                        <!-- section-title -->
                        <!-- .skill-unit -->
                        <div class="skill-unit">
                            <h4>Perl</h4>
                            <div class="bar" data-percent="80">
                                <div class="progress"></div>
                            </div>
                        </div>
                        <!-- .skill-unit -->
                        <!-- .skill-unit -->
                        <div class="skill-unit">
                            <h4>JavaScript</h4>
                            <div class="bar" data-percent="70">
                                <div class="progress"></div>
                            </div>
                        </div>
                        <!-- .skill-unit -->

                        <!-- .skill-unit -->
                        <div class="skill-unit">
                            <h4>Angular JS</h4>
                            <div class="bar" data-percent="60">
                                <div class="progress"></div>
                            </div>
                        </div>
                        <!-- .skill-unit -->

                        <!-- .skill-unit -->
                        <div class="skill-unit">
                            <h4>Java</h4>
                            <div class="bar" data-percent="50">
                                <div class="progress"></div>
                            </div>
                        </div>
                        <!-- .skill-unit -->
                        <!-- .skill-unit -->
                        <div class="skill-unit">
                            <h4>Node.js</h4>
                            <div class="bar" data-percent="65">
                                <div class="progress"></div>
                            </div>
                        </div>
                        <!-- .skill-unit -->
                        <!-- section-title -->
                        <div class="section-title center">
                            <h2><i>conceptual skills</i></h2>
                        </div>
                        <!-- section-title -->
                        <!-- .skill-unit -->
                        <div class="skill-unit">
                            <h4>Object Oriented Programming</h4>
                            <div class="bar" data-percent="80">
                                <div class="progress"></div>
                            </div>
                        </div>
                        <!-- .skill-unit -->
                        <!-- .skill-unit -->
                        <div class="skill-unit">
                            <h4>Release Engineering</h4>
                            <div class="bar" data-percent="75">
                                <div class="progress"></div>
                            </div>
                        </div>
                        <!-- .skill-unit -->
                        <!-- .skill-unit -->
                        <div class="skill-unit">
                            <h4>Continuous Integration & Deployment</h4>
                            <div class="bar" data-percent="80">
                                <div class="progress"></div>
                            </div>
                        </div>

                        <!-- .skill-unit -->
                        <div class="skill-unit">
                            <h4>Design Patterns</h4>
                            <div class="bar" data-percent="50">
                                <div class="progress"></div>
                            </div>
                        </div>
                        <!-- .skill-unit -->
                    </div>
                    <!-- .skill-unit -->
                    <!-- section-title -->
                    <div class="col-sm-11 p-b-xxl">
                        <div class="section-title center">
                            <h2>
                                <i>TESTIMONIALS</i>
                            </h2>
                        </div>
                        <!-- section-title -->
                        <!-- Testimonial -->
                        <div class="testimonial" ng-if="checked[0]">
                            <img class="center" src="images/shanoj.jpg" alt="someone">
                            <h4>Shanoj Subramanian</h4>
                            <h5>Manager, Software Development at PayPal</h5>
                            <p>Raghuveer is one of the most enthusiastic person in our team. He's full of energy and
                                cheers up the team and an excellent team player. Release Engineering is one of the teams
                                where one will have to attend top priority issues at any time. Raghuveer takes up
                                challenges and ensures that the issue is resolved with utmost care and dedication. His
                                thought process have helped the day to day activities a lot, especially coming up with
                                new ideas and rethinking the existing processes.
                            </p>
                            <p>
                                Another remarkable thing is his proficiency in Perl scripting. His out of the box
                                thinking for getting things done in a timely fashion is admirable. I strongly recommend
                                Raghuveer for any team that values team work & new ideas.
                            </p>
                        </div>
                        <!-- Testimonial -->
                        <!-- Testimonial -->
                        <div class="testimonial" ng-if="checked[1]">
                            <img class="center" src="images/arul.jpg" alt="someone">
                            <h4>Arul Jegadish Francis</h4>
                            <h5>Manager, Release Control at Ariba</h5>
                            <p>Raghuveer helped the Ariba Engineering Services/Release Control team to implement a
                                stable CI pipeline. He is hard working, detail oriented and likes to keep all
                                tools/processes simple and clean. He has a deep understanding of various tools in the CI
                                pipeline. He is passionate about UI technologies as well. He will be a valuable asset to
                                any engineering team.
                            </p>
                        </div>
                        <!-- Testimonial -->
                        <!-- Testimonial -->
                        <div class="testimonial" ng-if="checked[2]">
                            <img class="center" src="images/tanvi.jpg" alt="someone">
                            <h4>Tanvi Shah</h4>
                            <h5>Senior Software Engineer, Ariba</h5>
                            <p>Raghuveer is a diligent performer along with being responsive and efficient at the same
                                time. I have interacted with his team on a cross team basis, mostly as an internal
                                customer, and have found him to be really good at communicating problem solution
                                efficiently from both his and my team's perspective. He does not hesitate to go beyond
                                the scope of immediate requests to suggest better ways of handling things. As an
                                engineer, I value his skills and knowledge at investigating the issues at hand, coming
                                up with a solution and collaborating with other teams in executing it. He does not
                                restrict himself to his team's code base, but is also constantly willing to explore new
                                technologies. This blend of skills makes him a valuable, high performing asset for any
                                team.
                            </p>
                        </div>

                        <div class="testimonial" ng-if="checked[3]">
                            <img class="center" src="images/chris.jpg" alt="someone">
                            <h4>Chris Hunt</h4>
                            <h5>Software Engineer, William Sonoma</h5>
                            <p>In my experience, the ability to maintain focus on details that matter is not always
                                found along side the traits of 'calm and happy". Raghuveer is that increasingly rare
                                individual that has this combination and also knows what he is talking about. He will
                                cope well with the ambiguity in your project and likely will discern the real pressure
                                points early in the game. He is not going to need a lot of direction as he does it. I
                                doubt he will be available very often or for very long. If his is you should investigate
                                his capabilities before your competitor does.
                            </p>
                        </div>

                        <div class="testimonial" ng-if="checked[4]">
                            <img class="center" src="images/dhirendra.jpg" alt="someone">
                            <h4>Dhirendra Sinha</h4>
                            <h5>Principal Software Engineer at Y! Mail</h5>
                            <p>Raghuveer is very sincere, dedicated and hardworking software engineer. At Captora, being
                                in a startup phase, the requirements are dynamic and changing at times. He adjusted to
                                it and picked up the pace and delivered great quality software.
                                Raghuveer is very knowledgeable in his domain and applies sensible and creative
                                approaches to solve problems. He is very personable and fun to hang around with.I wish
                                him all the best for his future career!
                            </p>
                        </div>

                        <div class="testimonial" ng-if="checked[5]">
                            <img class="center" src="images/tho.jpg" alt="someone">
                            <h4>Tho Truong</h4>
                            <h5>Software Configuration Management at PayPal</h5>
                            <p>Regretfully don't have the chance to work with Raguveer on the same project to pickup
                                some his skills, but I have seen his extraordinary work he did for FrontEnd metric
                                dashboard. He implemented in very short period time using a combination of PHP,HTML,
                                JavaScript, and JSON, and it looks amazing like commercial app. Great job! Definitely
                                will work with Raghuveer again.
                            </p>
                        </div>

                        <div class="testimonial" ng-if="checked[6]">
                            <img class="center" src="images/kiran.jpg" alt="someone">
                            <h4>Kiran Bhumana</h4>
                            <h5>Senior Technical Manager at Ariba</h5>
                            <p>Raghuveer is very diligent at his tasks. Many a times I had interactions with Raghuveer
                                regarding the release tools and I am quite impressed with his depth and knowledge within
                                a short time at Ariba. He is easy to work with and goes out of the way to solve issues
                                at hand.
                            </p>
                        </div>

                        <div class="testimonial" ng-if="checked[7]">
                            <img class="center" src="images/jeslie.jpg" alt="someone">
                            <h4>Jeslie Chermak</h4>
                            <h5>Senior Member Technical Staff at MosaixSoft, Inc.</h5>
                            <p>Raghuveer is always willing to go the extra mile to help, even when the questions posed
                                are not immediately within his expertise. He will spend the time to assist and quickly
                                determine what needs to be done or who the appropriate person with the relevant
                                knowledge is. His attitude makes my job easier and me more productive and effective.
                            </p>
                        </div>

                        <div class="testimonial" ng-if="checked[8]">
                            <img class="center" src="images/no-pic.png" alt="someone">
                            <h4>Charleston Thai</h4>
                            <h5>Maps Release Management, Apple</h5>
                            <p>Raghuveer is a technically strong engineer with emphasis on tools development. He
                                possesses good technology vision and is constantly providing great suggestions to his
                                team. Raghuveer is both a terrific team player and is a great mentor to his peers. He
                                has great and positive attitude toward tackling challenging projects. He is a definitely
                                an asset to any engineering organization and I would hire him again.
                            </p>
                        </div>

                        <div class="testimonial" ng-if="checked[9]">
                            <img class="center" src="images/no-pic.png" alt="someone">
                            <h4>Ravi Arepally</h4>
                            <h5>Senior Manager, Yahoo!</h5>
                            <p>Raghuveer worked in my team and I found him to be competent, dedicated and hard working
                                professional. He is very reliable and highly accountable for his work. During his tenure
                                at Ariba, he wrote various tools and came up with good ideas for new ones. He worked
                                very well with on-site and off-shore team members. I am sure Raghu will be an asset for
                                any organization.
                            </p>
                        </div>

                        <div class="testimonial" ng-if="checked[10]">
                            <img class="center" src="images/no-pic.png" alt="someone">
                            <h4>Joe Chou</h4>
                            <h5>Release Management, eBay</h5>
                            <p>Raghuveer is a hard-working and detail-oriented release engineer. When I manage a site
                                release, I can count on him to provide up-to-date status regarding builds and
                                deployments. When there are issues, Raghuveer has always followed through on the issues
                                or ensured a clean hand-off to the release engineers in Chennai, India. It is a great
                                pleasure working with him.
                            </p>
                        </div>
                        <!-- Testimonial -->
                    </div>
                </div>
                <!-- col -->
            </div>
            <!-- row -->
        </div>
        <!-- .layout-medium -->
    </div>
</section>