<section id="resume" class="container-fluid">
    <div class="content">
        <!-- .layout-medium -->
        <div class="layout-medium">
            <!-- page-title -->
            <h1 class="page-title greentext p-b-m">resume</h1>
            <!-- page-title -->
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-sm-7">
                    <div class="event">
                        <h2>Work History</h2>
                        <p><i class="fa fa-briefcase"></i></p>
                    </div>
                    <div class="event">
                        <h3>Apple Inc.</h3>
                        <h4>Sr. Software Engineer</h4>
                        <h5>June 2015 - Current</h5>
                        <p>I am currently leading a team of 4 people, working towards establishing Release
                            Engineering best practises accross various internal products at Apple
                        </p>
                    </div>
                    <div class="event">
                        <h3>Captora Inc.</h3>
                        <h4>Front End Developer</h4>
                        <h5>Feb 2015 - May 2015</h5>
                        <p>I worked as a Web Developer at Captora for a short stint. I created new features
                            in their AngularJS and Node.js based application.
                        </p>
                    </div>
                    <div class="event">
                        <h3>Ariba Inc</h3>
                        <h4>Software Engineer/Tools Developer</h4>
                        <h5>March 2008 – August 2009, April 2011 – June 2012 and October 2012 – February 2015</h5>
                        <p>I am an Elite Author at Envato. I create usable web interfaces, front end coding
                            stuff and almost anything. But i love what i do.
                        </p>
                    </div>
                    <div class="event">
                        <h2>Education</h2>
                        <p><i class="fa fa-graduation-cap fa-fw"></i></p>
                    </div>
                    <div class="event">
                        <h3>San Jose State University</h3>
                        <h4>MS, Software Engineering</h4>
                        <h5>2007 - 2008</h5>
                        <p>I got my Master Degree at San Jose State University. I create usable web interfaces,
                            front
                            end coding stuff and almost anything. But i love what i do.
                        </p>
                    </div>
                    <div class="event">
                        <h3>Shri. G. S. Institute of Technology and Science</h3>
                        <h4>BE, Computer Engineering</h4>
                        <h5>2002 - 2006</h5>
                        <p>I studied Computer Science at MIT. I create usable web interfaces, front end coding
                            stuff and almost anything. But i love what i do.
                        </p>
                    </div>
                    <p><a href="../resources/Raghuveer.Resume.pdf" download="Raghuveer.Resume.pdf" class="button"><i class="fa fa-download fa-fw"></i>Download Resume</a></p>
                </div>
                <!-- col -->
                <!-- col -->
                <div class="col-sm-5">
                    <!-- section-title -->
                    <div class="section-title center">
                        <h2><i>coding skills</i></h2>
                    </div>
                    <!-- section-title -->
                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>HTML5</h4>
                        <div class="bar" data-percent="80">
                            <div class="progress"></div>
                        </div>
                    </div>
                    <!-- .skill-unit -->
                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>CSS3</h4>
                        <div class="bar" data-percent="100">
                            <div class="progress"></div>
                        </div>
                    </div>
                    <!-- .skill-unit -->
                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>jQuery</h4>
                        <div class="bar" data-percent="80">
                            <div class="progress"></div>
                        </div>
                    </div>
                    <!-- .skill-unit -->
                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>Wordpress</h4>
                        <div class="bar" data-percent="60">
                            <div class="progress"></div>
                        </div>
                    </div>
                    <!-- .skill-unit -->
                    <!-- section-title -->
                    <div class="section-title center">
                        <h2>
                            <i>design skills</i>
                        </h2>
                    </div>
                    <!-- section-title -->
                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>Fireworks</h4>
                        <div class="bar" data-percent="90">
                            <div class="progress"></div>
                        </div>
                    </div>
                    <!-- .skill-unit -->
                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>Photoshop</h4>
                        <div class="bar" data-percent="70">
                            <div class="progress"></div>
                        </div>
                    </div>
                    <!-- .skill-unit -->
                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>Illustrator</h4>
                        <div class="bar" data-percent="50">
                            <div class="progress"></div>
                        </div>
                    </div>
                    <!-- .skill-unit -->
                    <!-- section-title -->
                    <div class="section-title center">
                        <h2>
                            <i>TESTIMONIALS</i>
                        </h2>
                    </div>
                    <!-- section-title -->
                    <!-- Testimonial -->
                    <div class="testimonial">
                        <img src="" alt="someone">
                        <h4>Vincent Wood</h4>
                        <h5>CEO / Gravity Inc.</h5>
                        <p>He is a great and hardworking guy. I am so proud of i have him as my asistant. He
                            helped me so much. Also i am so proud of i have him as my asistant. He helped me so
                            much.
                        </p>
                    </div>
                    <!-- Testimonial -->
                    <!-- Testimonial -->
                    <div class="testimonial">
                        <img src="" alt="someone">
                        <h4>Gary Morgan</h4>
                        <h5>Chemist / Freelancer</h5>
                        <p>He was a great co-worker and a friend. I would't be where i am without his
                            support.
                        </p>
                    </div>
                    <!-- Testimonial -->
                    <!-- Testimonial -->
                    <div class="testimonial">
                        <img src="" alt="someone">
                        <h4>Jason Wilson</h4>
                        <h5>Lab Geek / Miami Metro</h5>
                        <p>He is ok. I don't really know him. He looks nice.</p>
                    </div>
                    <!-- Testimonial -->
                </div>
                <!-- col -->
            </div>
            <!-- row -->
        </div>
        <!-- .layout-medium -->
    </div>
</section>