@media (min-width: 979px) {
    ul.nav li.dropup:hover > ul.dropdown-menu {
        display: block;
    }

    .introduction {
        padding: 10px;
        display: block;
        white-space: pre;
        max-width: 100%;
        line-height: 1.25em;
        position: fixed;
        font-size: 25px;
        line-height: 1.5em;
    }
}

