<section class="container-fluid  p-b-xl">
    <div class="content">
        <div class="layout-medium">
            <h1 class="page-title greentext">Shayari</h1>
            <div class="col-lg-10">
                <p>
                    This is my attempt with pen, completely 'filmy' style. ;-)
                </p>
                
                <div>
                    <h3 class="greentext sher-seperator">Kash..</h3>
                    <p>
                        Kash unse Itni mohabbat na hoti, na Milne ka intezaar na Yeh judai hoti.. <br>
                        Kar dete unse Hal e dil jo bayan, khuda bhi khush hota aur woh meri bahon main hoti..<br>
                        Kash unse Itni mohabbat na hoti, na tadapta dil na yeh bechaini hoti..<br>
                        Rakhte har waqt unhe palko par betha kar, dil hota unka magar usme dhadkane humari hoti..<br>
                        Kash unse Itni mohabbat na hoti, na dooriyo ka gum na ankhen Yu nam hoti..<br>
                        woh ho na sakenge humare Yeh malum jo hota, na karta unse utna pyar na aisi Yeh meri halat hoti..<br>
                        Kash unse Itni mohabbat na hoti.. Kash unse Itni mohabbat na hoti..<br>
                    </p>
                </div>
                
                <div>
                    <h3 class="greentext sher-seperator">Abhi Baki Hai..</h3>
                    <p>
                        Hatho main chalakta jaam abhi baki hai.. Is mohabbat ke kai imtihaan abhi baki hai..<br>
                        Milte hai woh hamse chup chup kar nashe main yuhi.. Unhe galey lagane ka armaan abhi baki hai..<br>
                        Pitey hai unki yaad main hum kyuki.. Madhoshi main sanam ka deedar abhi baki hai..<br>
                        Log kehte hai itni na piya karo marr jaogey... Kaise chodu yeh Jaam ishq ka iqraar abhi baki hai..<br>
                        Chada hai kyu kambhakt yeh ishq sharab ki tarah... Unsee yeh duri ka gum abhi baki hai...<br>
                        Thodi aur pila de mujhko ko aye saqi.. Kal hosh main aakar jeene ka anjaam abhi baki hai..<br>
                    </p>
                </div>
                
                <div>
                    <h3 class="greentext sher-seperator">Maar Gayi..</h3>
                    <p>
                        Kuch unki adaa ne luta, kuch unki inayat maar gayi, <br/>
                        Hum raaz-e-dil keh na paaye, chup rehne ki ye adaat maar gayi,<br/>
                        Tamanna to thi unko jee bhar k dekhne ki, par hume ankho ki ye sharafat maar gayi,<br/>
                        Dono se hi shikwa hume, ilzam lagaye kis par, <br/>
                        Kuch humne apne aapko barbaad kiya aur kuch hume kismat maar gayi...<br/>
                    </p>
                </div>
                
                <div>
                    <h3 class="greentext sher-seperator">Dosti..</h3>
                    <p>
                        Tham jati hai zindagi jab khayal unka aata hai,<br/>
                        Chehra hi nahi unke sath bitaya har lamha yaad aata hai,<br/>
                        Unhe to pata bhi nahi ki kitna pyar karte hai unse,<br/>
                        Kash yeh sach bhi ankhon main bayan ho jata,<br/>
                        Keh na paye unse yeh gum to hamesha rahega,<br/>
                        Lekin unki dosti khone ka ehsas hi sab kuch mere dil main dafn kaar jata hai..<br/>
                    </p>
                </div>
                <div>
                    <h3 class="greentext sher-seperator">Chhod Gaye..</h3>
                    <p>
                        Wafa ki umeed unse kyu kare jo tadapne ke liye chhod gaye,<br/>
                        Pass itne aye ki diwana banaya fir muh moda aur chale gaye,<br/>
                        Meri ankhon main ansu unke dhoke ka nahi usne bichadne ke gum ka hai,<br/>
                        Unhe fir bhi taras na aya hum par aur hum apni sanse unke liye chhod gaye...<br/>
                    </p>
                </div>
                <div>
                    <h3 class="greentext sher-seperator">Umeed..</h3>
                    <p>
                        Tujhse 1 mulakat kafi nahi dil ko samjhane ke liye,<br/>
                        Woh to intezar kar raha hai tujhe apna banane ke liye,<br/>
                        Ho na sako agar tum humarey koi gum nahi,<br/>
                        Par thodi si dil main jagah rakhna apne is diwane ke liye..<br/>
                    </p>
                </div>
                <div>
                    <h3 class="greentext sher-seperator">Yaad..</h3>
                    <p>
                        Yaad teri jab ayi to dil thama par,<br/>
                        Teri judai ka ehsas dila gaya gum humey,<br/>
                        Socha ki jam banakar pi jau tujhe,<br/>
                        Par nasha to pehle hi kar diya tere diwane pan ne,<br/>
                        Bahey fela kar khada hoon tujhe galey lagane ko,<br/>
                        Par duri ne mita diya isey bhi mere mann main,<br/>
                        Chaha ki apni hasti hi milta du lekin,<br/>
                        Jaan to pehle hi le li thi is akele pan ne..<br/>
                    </p>
                </div>
                <div>
                    <h3 class="greentext sher-seperator">Rishtey..</h3>
                    <p>
                        Dard hota hai dil main jab zakhmo ko chupate hai,<br/>
                        Panah mangte hai unse jo us dard ko aur badhate hai,<br/>
                        Yeh saja mili hai humey dil lagane ki,<br/>
                        Ke dil main rehne wale hi humare dil ko dukhate hai ...<br/>
                    </p>
                </div>
                <div>
                    <h3 class="greentext sher-seperator">Judai..</h3>
                    <p>
                        Aaj fir ankho main ansu hai ke baat adhuri reh gayi..<br/>
                        Jindagi pass humare aakar fir humse bhichad gayi..<br/>
                        Tujhse shikwa kare aye sanam ya us upar wale se..<br/>
                        Baho main aakar meri fir humey woh akela chodd gayi...<br/>
                        Main to sochta hi reh Gaya ki unhe apna banau...<br/>
                        Woh to mere dil main jagah bana kar kisi aur ki ho gayi...<br/>
                    </p>
                </div>
                <div>
                    <h3 class="greentext sher-seperator">Hal..</h3>
                    <p>
                        Jo haal kiya zindagi ne mera..<br/>
                        woh kisi insaan ka na kare..<br/>
                        Apna banakar koi apne sey juda na kare..<br/>
                        Dua karte hai khuda sey tumharey liye aye dost..<br/>
                        Ho tumhe pyar jis say woh kabhi kisi aur sey pyar na kare..<br/>
                    </p>
                </div>
                <div>
                    <h3 class="greentext sher-seperator">Khamoshi..</h3>
                    <p>
                        Katl kar gayi humara khamoshi ye teri..<br/>
                        Tu to chala gaya reh gayi dil main arzoo meri..<br/>
                        Shabdo sey kya bayan karey tumhe in zajbaton ko..<br/>
                        Ishq main tuhmare maar gaye hote to yakeen aata..<br/>
                    </p>
                </div>
                <div>
                    <h3 class="greentext sher-seperator">Muskurahat..</h3>
                    <p>
                        Jindagi main jo na chaho wahi har bar milta hai..<br/>
                        Ishq main kaha har waqt ikhtiyaar milta hai..<br/>
                        Woh kehte hum aajkal muskuratey nahi..<br/>
                        Unhe kya samjhaye Yeh judai ka gum jo bar bar milta hai..<br/>
                    </p>
                </div>
                
                <div>
                    <h3 class="greentext sher-seperator">Intezaar..</h3>
                    <p>
                        Woh is baat se khush hai ki thoda waqt sath bitayenge.. <br>
                        Hum is baat se pareshan ki yeh intezar kab khatam hoga.. <br>
                    </p>
                </div>
            
            </div>
        </div>
    </div>
</section>>
