<section id="contact" class="">
    <ul class="social">
        <li><a class="facebook" href="https://www.facebook.com/raghuveer" target="_blank"><i class="fa fa-facebook fa-fw"></i></a></li>
        <li><a class="twitter" href="https://twitter.com/raghuuveer" target="_blank"><i class="fa fa-twitter fa-fw"></i></a></li>
        <li><a class="linkedin" href="https://www.linkedin.com/in/raghuveerp" target="_blank"><i class="fa fa-linkedin fa-fw"></i></a></li>
        <li><a class="google-plus" href="https://plus.google.com/u/0/+RaghuveerPhull" target="_blank"><i class="fa fa-google-plus fa-fw"></i></a></li>
        <li><a class="stack-overflow" href="https://stackoverflow.com/users/792479/raghuveer" target="_blank"><i class="fa fa-stack-overflow fa-fw"></i></a></li>
    </ul>
</section>
<!-- PAGE : CONTACT -->