<section id="contact" class="pt-page page-layout contact light-text">
    <ul class="social">
        <li><a class="facebook" href="https://www.facebook.com/raghuveer" target="_blank"></a></li>
        <li><a class="twitter" href="https://twitter.com/raghuuveer" target="_blank"></a></li>
        <li><a class="linkedin" href="https://www.linkedin.com/in/raghuveerp" target="_blank"></a></li>
        <li><a class="google-plus" href="https://plus.google.com/u/0/+RaghuveerPhull"
               target="_blank"></a></li>
        <li><a class="stack-overflow" href="https://stackoverflow.com/users/792479/raghuveer"
               target="_blank"></a></li>
    </ul>
</section>
<!-- PAGE : CONTACT -->